SERVICEBUS_CONNECTION_STRING=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;
SERVICEBUS_TOPIC=webhook-events
DB_PATH=./data/tracking.db
REGULAR_CLIENT_PORT=3001
JIT_CLIENT_PORT=3002
